<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876574075071-9hfc799vdkqdqma68917l07kbn6kmrmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876574075071-9hfc799vdkqdqma68917l07kbn6kmrmi</string>
	<key>API_KEY</key>
	<string>AIzaSyCfJ1lzMwo1azBSUIoNjyyDDvrqm7bLxx4</string>
	<key>GCM_SENDER_ID</key>
	<string>876574075071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.madamAdmin</string>
	<key>PROJECT_ID</key>
	<string>madam-d8cd5</string>
	<key>STORAGE_BUCKET</key>
	<string>madam-d8cd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876574075071:ios:429fe0fd1645e1548a7e0a</string>
</dict>
</plist>